body {
    background-color:  hsl(185, 75%, 39%);
}

.attribution {
    font-size: 11px; text-align: center;
    color: hsl(228, 45%, 44%);
}

.log {
    float: left;
    width: 7.3%;
    text-align: center;
}