body {
    background-color:  hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
}


h1 {
    font-size: 20px;
    position: relative;
    bottom: 55px;
}

span {
    font-weight: lighter;
}

.attribution {
    font-size: 11px; text-align: center;
    color: hsl(228, 45%, 44%);
    padding-top: 100px;
}


#location {
    position: relative;
    bottom: 60px;
   
}

.log {
    position: relative;
    bottom: 90px;
    float: left;
    width: 14.3%;
    font-weight: bold;
    text-align: center;
    padding-left: 50px;
    padding-top: 30px;
    line-height: 1.4;
}

.profile {
    background-color: #ffffff;
    border-radius: 15px;
    margin: auto;
    margin-top: 150px;
    text-align: center;
    width: 350px;
    height: 350px;
}
.top-image {
    border: 6px solid #ffffff;
    border-radius: 60px;
    position: relative;
    top: 90px;
    z-index: 1;
}

.top-pattern {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    bottom: 112px;
}